{% extends "voluntary/base.html" %}

{% block content %}

<section class=" ">
    <div class="container bg-light border-dark rounded" >
      <div class="row">
        <div class="col-xl-12 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-5">
              <span class="section-heading-upper">Te esperamos</span>
              <span class="section-heading-lower">Visítanos</span>
            </h2>
            <div class="container" >
              <div class="row" width="100%" style="width: 100% !important;">
                {{ voluntary }}
                
                <div class="col-sm">
                    Monday
                    {% for c in voluntarys %}
                        {% if c.monday == True %} 
                        <div class="col-sm">
                            {% for v in c.voluntary.all %}
                            <br> <p maxWidth="10%"  >{{ v.name }} Time : {{ c.fromto }} to {{ c.to }} </p>
                            {% endfor %}
                        </div>
                         {% endif %}
                    {% endfor %}
                </div>
              
                <div class="col-sm">
                  tuesday
                  {% for c in voluntarys %}
                     {% if c.tuesday == True %} 
                        <div class="col-sm">
                            {% for v in c.voluntary.all %}
                            <br> <p maxWidth="10%"  >{{ v.name }} Time : {{ c.fromto }} to {{ c.to }} </p>
                             {% endfor %}
                       </div>
                     {% endif %}
                  {% endfor %}
                </div>
                <div class="col-sm">
                  Wednesday
                  {% for c in voluntarys %}
                   {% if c.wednesday == True %} 
                     <div class="col-sm">
                        {% for v in c.voluntary.all %}
                        <br> <p maxWidth="10%"  >{{ v.name }} Time : {{ c.fromto }} to {{ c.to }} </p>
                         {% endfor %}
                    </div>
                  {% endif %}
                 {% endfor %}
                </div>
                <div class="col-sm">
                  Thuesday
                  {% for c in voluntarys %}
                   {% if c.thursday == True %} 
                    <div class="col-sm">
                        {% for v in c.voluntary.all %}
                        <br> <p maxWidth="10%"  >{{ v.name }} Time : {{ c.fromto }} to {{ c.to }} </p>
                         {% endfor %}
                   </div>
                  {% endif %}
                 {% endfor %}
                </div>
                <div class="col-sm">
                  Friday
                  {% for c in voluntarys %}
                   {% if c.friday == True %} 
                    <div class="col-sm">
                        {% for v in c.voluntary.all %}
                        <br> <p maxWidth="10%"  >{{ v.name }} Time : {{ c.fromto }} to {{ c.to }} </p>
                         {% endfor %}
                   </div>
                   {% endif %}
                  {% endfor %}
                </div>
                <div class="col-sm">
                  Saturday
                  {% for c in voluntarys %}
                   {% if c.saturday == True %} 
                    <div class="col-sm">
                        {% for v in c.voluntary.all %}
                        <br> <p maxWidth="10%"  >{{ v.name }} Time : {{ c.fromto }} to {{ c.to }} </p>
                          {% endfor %}
                   </div>
                  {% endif %}
                 {% endfor %}
                </div>
                <div class="col-sm">
                  Sunday
                  {% for c in voluntarys %}
                   {% if c.sunday == True %} 
                    <div class="col-sm">
                        {% for v in c.voluntary.all %}
                        <br> <p maxWidth="10%"  >{{ v.name }} Time : {{ c.fromto }} to {{ c.to }} </p>
                        {% endfor %}
                   </div>
                  {% endif %}
                 {% endfor %}
                </div>
              </div>
            </div>
            <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
              <li class="list-unstyled-item list-hours-item d-flex">
                Lunes a viernes
                <span class="ml-auto">7:00 a 20:00</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Sábados
                <span class="ml-auto">9:00 a 17:00</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Domingos
                <span class="ml-auto">Cerrado</span>
              </li>
            </ul>
            <p class="address mb-5">
              <em>
                <strong>Avd. La noria nº 50</strong>
                <br>
                Malaga Promueve
              </em>
            </p>
            <p class="mb-0">
      
                <em>Llámanos y pregunta</em>
             
              <br>
              (666) 606-197-854
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}